body {
background: #0000FF;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-wrap: wrap;
}
h1 {
color: #FFFF00;
text-align: center;
width: 100%;
display: block;
}
h1:hover {
color: #E09336;
text-align: center;
width: 100%;
display: block;
}
a {
 text-decoration: none; 
 color: black; 
}
a:hover {
 text-decoration: none; 
 color: #E09336; 
}
.assign {
display: block;
padding: 10px;
margin: 10px;
border-radius: 20px;
width: 20%;
box-shadow: 8px 8px brown;
background: #87CEEB;
}
.assign img {
width: 200px;
padding: 10px;
border: 2px solid #614A44
}
.assign img:hover {
width: 200px;
padding: 10px;
border: 2px solid #E09336
}
